@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
}

.navbar {
  background-color: #22668a;
}

.title {
  font-size: 1.5em;
}

.sub-heading {
  font-size: 1.2em;
}

#root .categorie-active {
  background-color: #22668a;
  color: #ffffff;
}
